body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h2{
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: black;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 44px;
    margin-right: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    position: fixed;
    bottom: 0%;
    left: 0;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    z-index: 1;
}

ul li{
    list-style: none;
}

#M3{
    display: none;
}

.M3On{
    display: initial;
}

#M4{
    display: none;
}

#M5{
    display: none;
}

#M6{
    display: none;
}

#M7{
    display: none;
}

#M8{
    display: none;
}

#M9{
    display: none;
}

#M10{
    display: none;
}

#M11{
    display: none;
}

#M12{
    display: none;
}



ul li a{
    display: block;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    background: #fff;
    width: 40px;
    color: #262626;
    margin: 14px 0;
    padding-left:2px;
    text-transform: uppercase;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

ul li a:hover{
    background: #262626;
    color: #fff;
}

#container{
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

#container div{
    position: relative;
    width: 100%;
    height: 100%;
}

#container div h1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 8em;
    text-transform: uppercase;
    color: #fff;
}

#container div#section1{
    background-color: #E0FFFF; 
}

#container div#section2{
    background-color: #a6dcef; 
}

#container div#section3{
    background: #C1E7E3;
}

#container div#section4{
    background: #FFDFD3;
}

#container div#section5{
    background: #C1E7E3;
}

#container div#section6{
    background: #FFDFD3;
}

#container div#section7{
    background: #FFF0D7;
}

#container div#section8{
    background: #FFDFD3;
}

#container div#section9{
    background: #95B4CC;
}

#container div#section10{
    background: #95B4CC;
}

#container div#section11{
    background: #FEC9C9;
}

#container div#section12{
    background: #F9665E;
}

div.shadow {
    position:absolute;
    overflow:visible;
    top: 10%;
    left: 15%;
}

img.logo {
    position:relative;
    max-width:70%;

}

img.spotify{
    position:relative;
    max-width:70%;
    max-height:140%;
}

canvas {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 85%;
    float: right;
    margin-right:7px;
}

#imgMiniGame2{
    border: solid 1px black;
    width: 80%!important;
    height: 59%!important;
    margin-right: 15px;
    margin-bottom: 7px;
    margin-top:60px;
    float: right;
    background-image: url("img/sprite_sheet/MiniGame2/bg.jpg");
}

#noimgMiniGame2{
    border: solid 1px black;
    width: 80%!important;
    height: 59%!important;
    margin-right: 15px;
    margin-bottom: 7px;
    margin-top:60px;
    float: right;
}

.gameController {
  text-align: center;
  width: 59%!important;
  bottom: -5%;
  left: 35%;
  height: 29%!important;
}

.gameButton{
    width:70px;
    height: 70px;
}

.downloadButton{
    width:170px;
    height: 30px;
    margin-top: 5px;
    margin-right: 15px;
    float: right;
}

.fixButton{
    width:50px;
    height: 30px;
    margin-top: 120px;
    margin-bottom: 5px;
    margin-right: 10px;
    float: right
}

#imgMiniGame3{
    border: solid 1px black;
    width: 65%!important;
    height: 50%!important;
    margin-right: 7px;
    margin-bottom: 7px;
    margin-top:20px;
    float: right;
    background-image: url("img/sprite_sheet/MiniGame2/bg.jpg");
}

#noimgMiniGame3{
    filter: blur(5px);
    border: solid 1px black;
    width: 65%!important;
    height: 50%!important;
    margin-right: 7px;
    margin-bottom: 7px;
    margin-top:20px;
    float: right;
    background-image: url("img/sprite_sheet/MiniGame2/bg.jpg");
}

.miniGame4{
    height: 0%!important;
    width: 100px!important;
    margin-right: 200px;;
}